.banner1{
    position: relative;
    margin-left: 200px;
    margin-top: 30px;
    background-color: rgb(220, 237, 252);
    border-radius: 3px;
    color: rgb(59, 58, 58);
    height: 400px;
    width: 750px;
    text-align:center;
  }
  .imageSlider{
    height: 400px;
    width: 750px;
  }
  @media screen and (max-width: 960px){
    .banner1{
      position: relative;
      align-items:center;
      display: flex;
      height: 400px;
      width:400px;
      margin-left: 80px;
      contain: content;
      z-index: -1;
    }
    .imageSlider{
      position: relative;
      display: flex;
    }
  }
