.text-news{
  margin-top: -346px;
  margin-left: 55%;
  color: #091351;
  font-weight:600 ;
  font-size: large;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(233, 25, 133);
}
.News{
    margin-left: 770px;
    margin-top: 16px;
    background-color: #091351;
    border-radius: 3px;
    color: rgb(59, 58, 58);
    height: 300px;
    width: 33%;
  }
  
  /* .news-img{
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-left: 20px ;
  } */
  .carousel{
    height: 300px;
    width: auto;
    display: flex;
    padding-left: 30px;
    padding-right: 20px;
  }
  .EmpImage1{
    width: 25%;
    height:80%;
    margin-top: 30px;
    margin-left: -280px;
    margin-bottom: auto;
  }
.carousel img{
    height: 200px;
    padding-right: 280px;
    margin-right: 0;
}
.news-h1{
  margin-top: -200px;
  margin-left: 150px;
  font-size: large;
  color: white;
}
.news-p{
  margin-left: 180px;
  font-size: small;
  color: white;
  margin-top: 30px;
  text-align: left;
}
  @media screen and (max-width: 960px){
    .text-news{
      margin-top: 40px;
      margin-left: 220px;
      color: #091351;
      font-weight:600 ;
      font-size: large;      
      text-decoration-line:  underline;
      text-decoration-thickness: 3px;
      text-decoration-color:  rgb(233, 25, 133);
    }
    .News{
        margin-left: 80px;
        margin-top: 20px;
        background-color: #091351;
        border-radius: 3px;
        color: rgb(59, 58, 58);
        height: 270px;
        width: 400px;
      }
      .flex_row{
        margin-top: -20px;
        justify-content: center;
        display: flex;
        color: white;
      }
      .news-img{
        height: 200px;
        width: 200px;
        margin-top: 50px;
        margin-left: 20px ;
      }
  }