@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body{
	font-family: "Poppins", sans-serif;
	font-weight: 300;
   }

.heading{
    color: #030a5eb7;
	text-transform: capitalize;	
}
 .heading h2{
    /* float:left; */
    /* font-size: 20px; */
    border-bottom: 5px solid #d530eb;
    /* margin-bottom: 50px; */
    /* padding: 13px 0; */
	/* margin-right: 120px; */
	/* font-weight: 600; */
}


.card{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.cardtitle{
	font-size: 22px;
	text-transform: capitalize;
	color: darkblue;
}

.cardtext{
	color: blue;
}
.slider{
	background-color: darkblue;
	position: absolute;
	bottom: 100%;
	left: 0px;
	/* right:0; */
	top: 0px;
	width: 100%;
	height: 0px;
	overflow: hidden;
	transition: .90s;
	opacity: 0.8;
}

/* .card:hover:not(kk){
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.card:hover .slider{
	height: 100%;
	bottom: 0;
}
.contents{
    /* top: 50%; */
	/* left:50%; */
	/* position: absolute; */
	text-transform: capitalize;
	text-align: justify;
	justify-content: center;
	justify-items: center;
	transform: translate(10%,20%);
	font-size: 10px;
}


/* code for search */
       /* .height{
        height: 100vh;
       } */
       
       .search input{
        height: 50px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
       }


       .search input:focus{
        box-shadow: none;
        border: 2px solid blue;
       }

       .search .fa-search{

        position: absolute;
        top: 15px;
        left: 40px;

       }


	.btnn{
		/* position: relative; */
		width:100%;
		text-align: center;
		border: none;
		height: 30px;
		color: #030a5eb7;
		/* font-weight: 600; */
		background-color: #9798cdb7 ;
	}
	.btnn:hover{
		color: #fff;
		background-color: #030a5eb7;
		transition: 0.1s;
	}
	
	/* popup modal code */
	.text-primary{
		font-size: 15px;
	}